<div class="grid__container">
  
  <%if (posts !== undefined){ %>
    <% for (p in posts){ %>
      <span class="grid__item"  data-image="images/<%= posts[p].mainimage %>" style="background-image: url(/images/uploads/<%= posts[p].mainimage %>) ">
      <div class="snippet"><%-truncateText(JSON.parse(posts[p].body), 100) %></div>
      <h2 class="title title--preview"><a href="/posts/show/<%= posts[p]._id %>"><%= posts[p].title %></a></h2>
      <div class="loader"></div>
      <span class="category"><a href="/categories/show/<%= posts[p].category %>"><%= posts[p].category %></a></span>
      <div class="meta meta--preview">
        <span class="meta__date"><i class="fa fa-calendar-o"></i> <%= moment(posts[p].date).format("DD MMMM ") %></span>
      </div>
    </span>

  <%  } %>
  <% } %>


</div>
