
<nav>
  <i class="fa fa-commenting-o" aria-hidden="true"></i>
  <h1 class="hidden-sm">nodeblog</h2>
  <ul class="hidden-sm">
    <li><a href="/" class="<%= title ==='Home' ? 'active' : '' %>">Home</a></li>
    <% if (!user){ %>
      <li><a href="/users/register" class="<%= title ==='Register' ? 'active' :'' %>">Register</a></li>
    <li><a href="/users/login" class="<%= title ==='Login' ? 'active' : ''%>">Login</a></li>
  <% } else{ %>
    <li><a href="/posts/add" class="<%= title ==='Add Post' ? 'active' : ''%>">Add Post</a></li>
    <li><a href="/categories/add" class="<%= title ==='Add Category' ? 'active' : ''%>">Add Category</a></li>

  <li><a href="/users/logout">Logout</a></li>
<%  }%>


  </ul>
  <div class="nav-overlay hidden-sm"></div>

  <div class="menu__slide hidden-lg">
    <ul class="menu__links">
      <li><a href="/" class="<%= title ==='Home' ? 'active' : '' %>">Home</a></li>
      <% if (!user){ %>
        <li><a href="/users/register" class="<%= title ==='Register' ? 'active' :'' %>">Register</a></li>
      <li><a href="/users/login" class="<%= title ==='Login' ? 'active' : ''%>">Login</a></li>
    <% } else{ %>
      <li><a href="/posts/add" class="<%= title ==='Add Post' ? 'active' :'' %>">Add Post</a></li>
      <li><a href="/categories/add" class="<%= title ==='Add Category' ? 'active' :'' %>">Add Category</a></li>

    <li><a href="/users/logout">Logout</a></li>
  <%  }%>
    </ul>
  </div>
    <i class="fa fa-bars hidden-lg menu__toggle" aria-hidden="true" onclick="show()"></i>
</nav>
